.avatar-m {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
}

.avatar-l {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.avatar-xl {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}

.avatar-2xl {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
}

.avatar-sm {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

.avatar-xs {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}

.typing {
  box-shadow: 0px 0px 0px 3px var(--accent);
  margin-right: 0.25rem;
}

.bg {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--dark-gray);
}
